<section layout="row"  layout-align="center center" style="background-color: #2196f3; height: 100vh">
  <md-whiteframe class="md-whiteframe-1dp" style="width: 400px; height: 400px; margin:20px;  background-color: #fff" layout="column" layout-align="center center">
    <form name="loginForm">
      <md-input-container class="md-block">
        <label>Email</label>
        <input required type="email" name="clientEmail" ng-model="vm.user.email"
               minlength="1" maxlength="255" ng-pattern="/^.+@.+\..+$/" />
        <div ng-messages="loginForm.clientEmail.$error" role="alert">
          <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
            Your email must be between 3 and 255 characters long and look like an e-mail address.
          </div>
        </div>
      </md-input-container>
      <md-input-container class="md-block">
      <label>Password</label>
      <input required type="password" name="password" ng-model="vm.user.password" />
      </md-input-container>

      <md-button class="md-raised md-primary" ng-click="vm.login(loginForm)">Submit</md-button>

      <md-input-container class="md-block" ng-show="vm.errors">
        <div ng-messages="vm.errors" role="alert">
          <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
           {{vm.errors}}
          </div>
        </div>
      </md-input-container>

      <a href="signup">Sign up</a>

    </form>
  </md-whiteframe>
</section>

