<section layout-fill layout="column" flex ng-show="vm.chat" class="messages">

    <section class="chat-name" layout="row" layout-align="center center">
       {{vm.chat.name}}
    </section>
    <md-content layout-fill flex>
        <md-list-item ng-repeat="item in vm.messages">
            <md-divider ng-if="!$last"></md-divider>
            <md-item-content>
                <div class="md-tile-content">
                    {{item.date | date:'hh:mm'}} {{item.type}} : {{item.msg}}
                </div>
            </md-item-content>
        </md-list-item>
    </md-content>


    <form ng-submit="vm.onSend()" layout="row">

        <textarea flex ng-model="vm.newMessage"></textarea>

        <md-button flex="20" class="md-raised" type="submit">Send</md-button>

    </form>

</section>

<section layout-fill layout="column" flex ng-hide="vm.chat">
    <p>No chat selected, pick a chat.</p>
</section>