<section layout-fill layout="column" flex>

    <div flex></div>
    <md-content layout-fill>
        <md-list-item ng-repeat="item in vm.messages">
            <md-divider ng-if="!$first"></md-divider>
            <md-item-content>
                <div class="md-tile-content">
                    {{item.date | date:'hh:mm'}} {{item.type}} : {{item.msg}}
                </div>
            </md-item-content>
        </md-list-item>
    </md-content>

    <section layout="row" layout-fill>
        <form>
            <md-input-container>
                <label>new message</label>
                <input ng-model="vm.newMessage">
            </md-input-container>
            <md-input-container flex>
                <md-button class="md-raised" ng-click="vm.onSend()">Send</md-button>
            </md-input-container>
        </form>
    </section>
</section>

