<section layout="column" layout-fill>

    <md-toolbar>
        <div class="md-toolbar-tools">
            <img ng-src="{{vm.user.avatar || 'assets/images/anonymous.png'}}" class="face" alt="{{vm.user.displayName}}">

            <h2>
                <span>{{vm.user.displayName || vm.user.email}}</span>
            </h2>
            <span flex></span>



            <md-menu>
                <md-button aria-label="menu" class="md-icon-button" ng-click="vm.openMenu($mdOpenMenu, $event)">
                    <md-icon md-svg-icon="assets/material/menu.svg"></md-icon>
                </md-button>
                <md-menu-content width="4">
                    <md-menu-item>
                        <md-button ng-click="vm.onLogout()">
                            <md-icon md-svg-icon="assets/material/ic_person_24px.svg" md-menu-align-target></md-icon>
                            Logout
                        </md-button>
                    </md-menu-item>
                    <md-menu-divider></md-menu-divider>
                    <md-menu-item>
                        <md-button ng-click="vm.settings()">
                            <md-icon md-svg-icon="assets/material/upload.svg"></md-icon>
                            Settings
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
    </md-toolbar>


    <section layout="row" layout-fill flex>
        <div flex="25" layout-fill class="border" roster></div>

        <div flex layout="column" layout-fill messages></div>
    </section>
</section>
