.main {
  height: 100%;
}
.face {
  border-radius: 40px;
  border: 1px solid #ddd;
  width: 78px;
  margin: 16px;
}

.contact-face {
  border-radius: 20px;
  border: 1px solid #ddd;
  width: 48px;
  height: 48px;
  margin: 6px;
}

.shift-20-down {
  margin-top: 20px;
}

h3 {
  white-space: nowrap;
}

.tag {
  border-radius: 10px;
  min-width: 20px;
  border: 1px solid #ddd;
  background-color: #ffff00;
  text-align: center;
}
.md-button.closeChatButton{
  width: 25px;
  height: 25px;
}
.md-button.md-default-theme.md-raised.callButton{
  background-color: greenyellow;
  width: 120px;
  height: 60px;
}
.onlineLabel{
  color: green;
}
.onlineItem{
  overflow: hidden;
}
.offlineLabel{
  color: #808080;

  overflow: hidden;
}

.border{
    border: 1px solid #ddd;
}