@import '../../styles/buttons.less';

.search-modal {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #0000003d;
  display: flex;
  justify-content: center;
  align-items: center;

  .search-block {
    background-color: #ffffff;
    display: grid;
    grid-template-columns: repeat(12, 24px);
    grid-template-rows: repeat(16, 24px);
    position: relative;
  }

  .search-block-close {
    position: absolute;
    top: 4px;
    right: 7px;
  }

  .search-block-close svg:hover {
    color: #b3b3b3;
  }

  .search-input {
    width: 100%;
    border-radius: 5px;
    border: none;
    background-color: #eeeeee;
    font-size: 16px;
    padding: 5px;
    grid-column-start: 2;
    grid-column-end: 12;
    grid-row-start: 2;
    grid-row-end: 4;
    padding-left: 24px;
  }
  .search-results-wrapper {
    grid-column-start: 2;
    grid-column-end: 12;
    grid-row-start: 5;
    grid-row-end: 13;
    display: flex;
    flex-direction: column;
  }
  .uncollapsed {
    overflow-y: auto;
  }
  .search-result-item {
    height: 48px;
    margin-bottom: 12px;
    display: flex;
    flex: none;
  }

  .search-result-empty-item {
    flex: 1;
    justify-self: center;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
    font-size: 14px;
    color: #b9b9b9;
  }

  .create-chat-button {
    .general-button();

    font-size: 16px;
    line-height: 52px;
    grid-column-start: 2;
    grid-column-end: 12;
    grid-row-start: 14;
    grid-row-end: 16;
  }

  .label {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .label__checkbox {
    display: none;
  }

  .label__name {
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .label__check {
    display: inline-block;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.1);
    color: white;
    vertical-align: middle;
    margin-right: 20px;
    width: 48px;
    height: 48px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border 0.3s ease;

    i.icon {
      opacity: 0.2;
      font-size: ~'calc(1rem + 1vw)';
      color: transparent;
      transition: opacity 0.3s 0.1s ease;
      -webkit-text-stroke: 3px rgba(0, 0, 0, 0.5);
    }

    &:hover {
      border: 2px solid rgba(0, 0, 0, 0.2);
    }
  }

  .label__checkbox:checked + .label__text .label__check {
    animation: check 0.5s cubic-bezier(0.895, 0.03, 0.685, 0.22) forwards;

    .icon {
      opacity: 1;
      transform: scale(0);
      color: white;
      -webkit-text-stroke: 0;
      animation: icon 0.3s cubic-bezier(1, 0.008, 0.565, 1.65) 0.1s 1 forwards;
    }
  }

  .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @keyframes icon {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes check {
    0% {
      border-width: 5px;
    }
    10% {
      opacity: 0.1;
      background: rgba(0, 0, 0, 0.2);
      border-width: 15px;
    }
    12% {
      opacity: 0.4;
      background: rgba(0, 0, 0, 0.1);
      border-width: 0;
    }
    50% {
      background: #00d478;
      border: 0;
      opacity: 0.6;
    }
    100% {
      background: #00d478;
      border: 0;
      opacity: 1;
    }
  }
}
