<link rel="stylesheet" href="components/findContact/findContact.css" />
<md-dialog aria-label="find contact">
  <md-content class="sticky-container">
    <md-subheader class="md-sticky-no-effect">contacts</md-subheader>
    <div class="dialog-content">

    </div>
  </md-content>
  <div class="md-actions" layout="row">
    <md-button href="http://en.wikipedia.org/wiki/Mango" target="_blank" hide show-md>
      More on Wikipedia
    </md-button>
    <span flex></span>
    <md-button ng-click="answer('not useful')">
      Not Useful
    </md-button>
    <md-button ng-click="answer('useful')" class="md-primary">
      Useful
    </md-button>
  </div>
</md-dialog>
