<section layout="row" layout-align="center center" class="page">
    <md-whiteframe id="login-panel" class="md-whiteframe-1dp login-panel" layout="column" layout-align="center center"
                   ng-class="{'animated shake': !!vm.errors}">
        <md-button class="md-icon-button md-accent closeButton" aria-label="close" ng-click="vm.onClose()">
            <md-icon md-svg-icon="arrow-back"></md-icon>
        </md-button>

        <section layout="row" layout-fit layout-align="center center" class="login-container">
            <div layout="column" flex>
                <a class="md-button md-raised md-primary" ng-href="/auth{{vm.facebookLink}}" target="_top">
                    <md-icon md-svg-icon="assets/material/facebook.svg"></md-icon>
                    Facebook
                </a>
                <a class="md-button md-raised md-warn" ng-href="/auth{{vm.twitterLink}}" target="_self">
                    <md-icon md-svg-icon="assets/material/twitter.svg"></md-icon>
                    Twitter
                </a>
                <a class="md-button md-raised md-danger" ng-href="/auth{{vm.googleLink}}" target="_self">
                    <md-icon md-svg-icon="assets/material/hangout.svg"></md-icon>
                    Google
                </a>
                <a class="md-button md-raised md-info" ng-href="/auth{{vm.yandexLink}}" target="_self">
                    Я
                    Yandex
                </a>
            </div>
            <div class="login-delimiter"></div>
            <div layout="column" flex layout-align="center center" class="login-left">
                <form name="loginForm" ng-show="vm.isViewType('login')">
                    <div class="login-title">Sign in manually</div>
                    <input required type="email" name="clientEmail" ng-model="vm.user.email" class="login-input"
                           minlength="1" maxlength="255" ng-pattern="/^.+@.+\..+$/" placeholder="email"/>


                    <input required type="password" name="password" ng-model="vm.user.password"
                           minlength="1" class="login-input" placeholder="password"/>


                    <div layout="row" layout-align="center center">

                        <input  type="checkbox" ng-model="vm.user.remember"/>
                        <label>remember me</label>

                        <md-button class="md-raised md-primary" ng-click="vm.login(loginForm)">Sign in</md-button>
                    </div>
                </form>
                <form name="signUpForm" ng-show="vm.isViewType('signUp')">

                    <input required type="email" name="clientEmail" ng-model="vm.user.email" class="login-input"
                           minlength="1" maxlength="255" ng-pattern="/^.+@.+\..+$/" placeholder="email"/>


                    <input required type="password" name="password" ng-model="vm.user.password"
                           class="login-input" placeholder="password"/>
                    <input required type="password" name="password2" ng-model="vm.user.password2"
                           class="login-input" placeholder="repeat password"/>


                    <div layout="row" layout-align="center center">

                        <md-button class="md-raised md-primary" ng-click="vm.register(signUpForm)">Sign up</md-button>
                    </div>
                </form>
                <form name="forgotPasswordForm" ng-show="vm.isViewType('forgotPassword')">
                    <div class="login-title">Reset password</div>

                    <input required type="email" name="clientEmail" ng-model="vm.user.email" class="login-input"
                           minlength="1" maxlength="255" ng-pattern="/^.+@.+\..+$/" placeholder="email"/>


                    <div layout="row" layout-align="center center">

                        <md-button class="md-raised md-primary" ng-click="vm.resetPassword(forgotPasswordForm)">Reset password
                        </md-button>
                    </div>
                </form>


                <div layout="row" class="login-footer">
                    <a href="" ng-click="vm.setViewType('login')" ng-show="!vm.isViewType('login')">Login</a>
                    <a href="" ng-click="vm.setViewType('signUp')" ng-show="!vm.isViewType('signUp')">Sign up</a>
                    <a href="" ng-click="vm.setViewType('forgotPassword')" ng-show="!vm.isViewType('forgotPassword')">Forgot
                        your password?</a>
                </div>

                <div ng-show="vm.errors" class="error">
                    {{vm.errors}}
                </div>


            </div>
        </section>

    </md-whiteframe>
</section>

