<section layout="row" layout-align="center center" class="page">
    <md-whiteframe class="md-whiteframe-1dp login-panel" layout="column" layout-align="center center">

        <section layout="row" layout-fit layout-align="center center">
            <div layout="column" flex>
                <md-button class="md-raised md-primary login-social-button" ng-click="vm.loginSocial('facebook')">Facebook</md-button>
                <md-button class="md-raised md-warn login-social-button" ng-click="vm.loginSocial('twitter')">Twitter</md-button>
                <md-button class="md-raised md-danger login-social-button" ng-click="vm.loginSocial('google')">Google</md-button>
            </div>
            <div class="login-delimiter"></div>
            <div layout="column" flex layout-align="center center" class="login-left">
                <div class="login-title">Sign in manually</div>
                <form name="loginForm">

                    <input required type="email" name="clientEmail" ng-model="vm.user.email" class="login-input"
                           minlength="1" maxlength="255" ng-pattern="/^.+@.+\..+$/"/>


                    <input required type="password" name="password" ng-model="vm.user.password" class="login-input"/>


                    <div layout="row" layout-align="center center">

                        <input required type="checkbox" ng-model="vm.user.remember" />
                        <label>remember me</label>

                        <md-button class="md-raised md-primary" ng-click="vm.login(loginForm)">Sign in</md-button>
                    </div>

                    <!--<md-input-container class="md-block" ng-show="vm.errors">-->
                        <!--<div ng-messages="vm.errors" role="alert">-->
                            <!--<div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">-->
                                <!--{{vm.errors}}-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</md-input-container>-->

                    <div layout="row" class="login-footer">
                        <a href="" ng-click="vm.signUp()">Sign up</a>
                        <a href="" ng-click="vm.forgotPassword()">Forgot your password?</a>
                    </div>

                </form>
            </div>
        </section>

    </md-whiteframe>
</section>

