<link rel="stylesheet" href="components/voiceCall/voiceCall.css"/>

<md-whiteframe class="callPanel md-whiteframe-z1" layout="column">
  <div ng-class="{'incomingCallTitle': isIncoming()}" class="callTitle">
    <!--<div class="md-toolbar-tools">-->
      <h3 ng-show="isIncoming()">Incoming Call ...</h3>
      <h3 ng-show="isDialing()">Dialing ...</h3>
      <h3 ng-show="isConnected()">Connected</h3>
    <h4>{{callInfo.contact.displayName}}</h4>
    <!--</div>-->
  </div>
  <md-content class="md-padding">
    <div class="callAvatar">
      <img ng-src="{{callInfo.contact.avatar || 'images/anonymous.png'}}" class="face callAvatar" alt="{{callInfo.contact.displayName}}">
    </div>
    <div>

    </div>
    <div layout="row" layout-align="center center">
      <md-button class="md-raised hangUpButton" ng-click="handUp()">
        HANG UP
      </md-button>
      <md-button class="md-raised answerButton" ng-show="isIncoming()" ng-click="answerCall()">
        ANSWER
      </md-button>
    </div>
  </md-content>

</md-whiteframe>

