.callPanel{
  top:8px;
  right: 8px;
  position: absolute;
  min-height: 120px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  border-radius: 2px;
  font-size: 14px;
}

.callTitle{
  background-color: #0040D0;
  color: #ffffff;
  padding: 10px;
  min-width: 200px;
}
.incomingCallTitle{
  background-color: #FF0000;
}

.callTitle > h3,
.callTitle > h4{
  margin: 0;
}

.callAvatar {
  margin: 0;
  text-align: center;
}

.md-button.md-default-theme.md-raised.answerButton{
  background-color: greenyellow;
}
.md-button.md-default-theme.md-raised.hangUpButton{
  background-color: red;
}
