.blue{
  color: #0000ff;
}
.yellow{
  color: #ffff00;
}
.red{
  color: red;
}

.sample-show-hide {
  padding:10px;
  border:1px solid black;
  background:white;
}

.sample-show-hide {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}

.sample-show-hide.ng-hide {
  opacity:0;
}

.socialIcon {
  width: 68px;
  height: 68px;
  margin: 10px;
}

.rotate {
  transform: rotate(360deg);
}
