<section layout="row"  layout-align="center center" style="background-color: #2196f3; height: 100vh">
  <md-whiteframe class="md-whiteframe-1dp" style="width: 400px; height: 500px; margin:20px;  background-color: #fff" layout="column" layout-align="center center">
    <form name="signupForm">
      <md-input-container class="md-block">
        <label>Name</label>
        <input required type="text" name="name" ng-model="vm.user.name"
               minlength="1" maxlength="255" ng-class="{ 'has-success': form.name.$valid && vm.submitted,
                                            'has-error': form.name.$invalid && vm.submitted }" />
      </md-input-container>
      <md-input-container class="md-block">
        <label>Email</label>
        <input required type="email" name="clientEmail" ng-model="vm.user.email"
               minlength="1" maxlength="255" ng-pattern="/^.+@.+\..+$/" />
        <div ng-messages="signupForm.clientEmail.$error" role="alert">
          <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
            Your email must be between 3 and 255 characters long and look like an e-mail address.
          </div>
        </div>
      </md-input-container>
      <md-input-container class="md-block">
        <label>Password</label>
        <input required type="password" name="password" ng-model="vm.user.password" />
      </md-input-container>
      <md-input-container class="md-block">
        <label>Confirm Password</label>
        <input required type="password" name="password" ng-model="vm.user.confirmPassword"
               match="vm.user.password"/>
      </md-input-container>
      <p class="help-block"
         ng-show="form.confirmPassword.$error.match && vm.submitted">
        Passwords must match.
      </p>

      <md-button class="md-raised md-primary" ng-click="vm.register(signupForm)">Sign up</md-button>

      <md-input-container class="md-block" ng-show="vm.errors">
        <div ng-messages="vm.errors" role="alert">
          <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
            {{vm.errors}}
          </div>
        </div>
      </md-input-container>

      <a class="btn btn-default btn-lg btn-login" ui-sref="login"> Login</a>

    </form>
  </md-whiteframe>
</section>
