.login {
  width: 100vw;
  height: 100vh;
  position: relative;
  background: linear-gradient(45deg, #98E5E3, #7292EA, #4B3CF2), url('../../images/wave.svg');
  background-size: cover;
  background-blend-mode: screen;
  opacity: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login:before {
  background-size: cover;
  content: '';
  height: 100%;
  position: absolute;
  width: 100%;
  bottom: 0;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  opacity: 0.5;
  z-index: -10;
}
.login .login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login .login-title {
  font-family: "Righteous", Helvetica, sans-serif;
  font-size: 58px;
  color: white;
  font-stretch: expanded;
  letter-spacing: 7px;
}
.login .login-subtitle {
  font-family: "Tajawal Light", Helvetica, sans-serif;
  font-size: 19px;
  color: white;
  line-height: 1;
  font-stretch: extra-expanded;
  letter-spacing: 17px;
}
.login .login-social-icons-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  padding: 8px 0;
  margin-top: 16px;
}
.login .icon-button {
  height: 25px;
  width: 25px;
  border: none;
  background-color: transparent;
  background-size: 25px 25px;
  background-repeat: no-repeat;
  mix-blend-mode: multiply;
}
.login .icon-button:hover {
  opacity: 0.5;
  transition: all 0.5s ease;
}
.login .icon-button.linkedin {
  background-image: url('../../images/linkedin.svg');
}
.login .icon-button.facebook {
  background-image: url('../../images/facebook.svg');
}
.login .icon-button.github {
  background-image: url('../../images/github.svg');
}
.login .email-input,
.login .password-input {
  border: none;
  color: #333333;
  box-shadow: inset 0 0 2px #00000080;
  height: 38px;
  min-width: 220px;
  margin-top: 16px;
  font-family: "Tajawal", Helvetica, sans-serif;
  font-size: 18px;
  padding-left: 18px;
  padding-top: 5px;
  position: relative;
  background-repeat: no-repeat;
  background-position: 10px center;
  background-size: 20px 25px;
  padding-left: 40px;
}
.login .email-input {
  background-image: url('../../images/email.svg');
}
.login .password-input {
  background-image: url('../../images/lock.svg');
  background-size: 15px 25px;
  background-position: 12px;
}
.login .login-error {
  color: #f82ac4;
  font-family: "Tajawal Light", Helvetica, sans-serif;
  padding-top: 16px;
}
.login .login-button {
  background: none;
  border: none;
  background: linear-gradient(45deg, #1cdf5d, #63e0af);
  border-radius: 0;
  color: white;
  font-family: "Tajawal Light", Helvetica, sans-serif;
  text-transform: uppercase;
  box-shadow: 0 4px 8px 0 rgba(16, 114, 229, 0.4);
  margin-top: 16px;
  width: 220px;
  height: 48px;
  font-size: 28px;
  line-height: 2.1;
}
.login .login-button:hover {
  background: linear-gradient(45deg, #1bcf57, #5dd3a4);
  box-shadow: 0 2px 2px 0 rgba(16, 114, 229, 0.4);
  transition: all 0.5s ease;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
}
.login .login-button:active {
  box-shadow: none;
  transition: all 0.5s ease;
}
