@import '../../styles/buttons.less';

.chat-list {
  border-collapse: collapse;
  flex: 1;
  max-width: 300px;

  .chat-list-header {
    height: 48px;
    border: 1px solid #eeeeee;
    display: flex;
    align-items: center;
    padding: 6px 12px 6px 24px;
    box-sizing: content-box;
  }

  .chat-list-items-wrapper {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
  }

  .chat-item {
    height: 50px;
    border-bottom: 1px solid #eeeeee;
    display: flex;
    align-items: center;
    padding: 0 24px;

    &:hover {
      background-color: #eeeeee;
      transition: 100ms all ease-out;
    }
    &:active {
      background-color: #ffffff;
    }
  }
  .chat-list-search-input {
    border: none;
    background-color: #f3f3f3;
    border-radius: 5px;
    padding-left: 12px;
    flex: 1;
    margin-right: 12px;
    height: 34px;
    font-size: 14px;
    box-shadow: inset 0px 3px 7px 0px #79797952;
  }
  .add-chat-button {
    .general-button();
    height: 32px;
    width: 32px;
    border-radius: 50%;
    font-size: 20px;
    line-height: 36px;
    font-weight: bold;
  }
}
